:root {
    /* color */
    --gray: #f5f5f5;
    --blue: #0072D0;
    --darkgray: #666;
    --red: #D62828;
    --padding-input: 0.5rem;
    --margin-input: 0.3rem;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    color: black;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 1.1vw;
}
p { margin: 0; }
a { font-size: 0.6em; text-decoration: none; }
a:visited{ color: black; }
.link:hover { color: gray; }

input[type=text], input[type=number], button {
    outline: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    padding: calc(var(--padding-input) - 0.1rem) var(--padding-input);
    display: inline;
    vertical-align: middle;    
}

input[type=text], input[type=number] {
    box-sizing: border-box;
    background-color: var(--gray);
    border: 0 solid white;
    width: 100%;
    text-align: center;
    margin: 0;
    ::placeholder {
        color: black;
    }
}

button {
    width: 3.5rem;
    border: 0.05rem solid var(--darkgray);
    border-radius: 0.2rem;
    background-color: var(--gray);
    cursor: pointer;
    margin: var(--margin-input);
}

button:hover {
    background-color: #ddd;
}

table {
    margin-left: auto;
    margin-right: auto;
    /* border-spacing: 0.3rem; */
    border-collapse: collapse;
}
table td {
    border: 0.3rem solid white;
}

.tdtr:hover {
    color: var(--red);
}
